<div class="row main-cockpit-wrapper">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <p class="title-heading">Add New Employee or Blueprints</p>
        <form>
            <div class="form-group">
                <label>Employee Name</label>
                <input #nameLocalTemp type="text" name="firstName" class="form-control margin-bottom-20"
                    [(ngModel)]="employeeName" (input)="employeeNameAdded()" required>
            </div>
            <div class="form-group">
                <label>Employee Description </label>
                <input type="text" name="desc" class="form-control margin-bottom-20" [(ngModel)]="employeeDesc"
                    required>
            </div>
            <button class="btn btn-primary margin-bottom-20" (click)="onAddEmployee()"
                [disabled]="isDataNotAvailable">Add
                Employee</button>
            <button class="btn btn-primary margin-bottom-20" (click)="onAddBluePrint()"
                [disabled]="isDataNotAvailable">Add
                BluePrint</button>
            <button class="btn btn-primary margin-bottom-20" (click)="onResetAll()"
                [disabled]="isDataNotAvailable">Reset
                All</button>
        </form>
    </div>
    <br>
</div>