/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.02em;
    background-color: #9e9e9e14;
    color: #464646;

}
